.header {
    display: flex;
    /* justify-content: center; */
}

.title {
    font-size: 30px;
    color: #4A4A4A;
    margin-right: 8px;
    font-weight: 400;
}

.instructions {
    text-align: left;
    line-height: 28px;
    font-size: 1.2em;
    color: #727170;
    margin: 10px 0px 0px 28px;
    font-weight: normal;
}
