.App {
  text-align: center;
}
.results {
  padding-top: 10px;
  max-width: 700px;
  margin: auto;
  text-align: left;
}
body {
  background-color: #0D1821;
  color: #DECDF5;
  font-family: monospace;
  font-size: 14px;
}

a {
  color: #ffbf46;
}

textarea {
  max-width: 600px;
  width: 100%;
  height: 50px;
  font-family: serif;
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  background-color: #0D1821;
  color: #f8f1ff;
  font-family: monospace;
  border-color: #3e8989;
  /* border-color: #DECDF5; */
  /* font-weight: bold; */
  font-size: 1.2em;
}

.searchResult {
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}