@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.App {
  text-align: center;
  height: 100%;
}
.resultsContainer {
  display: flex;
  max-width: 95%;
  margin: 20px 20px 20px 28px;
  text-align: left;
}

.resultsList {
  margin-left: 10px;
  overflow-y: scroll;
  width: 100%;
  max-height: 495px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #EDEBEB;
  color: #727170;
  font-family: 'Inconsolata';
  font-size: 14px;
  overflow: hidden;
  
}

.searchResult {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2em;
}

.outputText {
  /* position: absolute; */
  top: 24px;
  left: 28px;
  font-size: 1.2em;
  font-weight: 500;
  color: black;
}

.score {
  color: rgba(87,80,96,0.8);
  float: right;
}

/* .title {
  padding-bottom: 5px;
  font-size: 2.5em;
} */