@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.App {
  text-align: center;
}
.results {
  padding-top: 10px;
  max-width: 700px;
  margin: auto;
  text-align: left;
}
body {
  background-color: #EDEBEB;
  color: #727170;
  font-family: 'Inconsolata';
  font-size: 14px;
}

a {
  color: #ffbf46;
}

.searchResult {
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.score {
  color: rgba(87,80,96,0.8);
  float: right;
}

/* .title {
  padding-bottom: 5px;
  font-size: 2.5em;
} */