.App {
  text-align: center;
}
body {
  background-color: #0D1821;
  color: #DECDF5;
  font-family: monospace;
  font-size: 14px;
}

a {
  color: #ffbf46;
}

textarea {
  width: 400px;
  height: 50px;
  font-family: serif;
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 5px;
  resize: none;
  padding: 10px;
  background-color: #0D1821;
  color: #f8f1ff;
  font-family: monospace;
  border-color: #3e8989;
}

.searchResult {
  padding: 5px;
}