.tagText {
    font-size: 14px;
    line-height: 24px;
}

.tagBackground {
    border-radius: 4px;
    padding: 0px 6px 0px 6px;
    vertical-align: 50%;
    height:fit-content;
}

.card {
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    background: rgba(0, 0, 0, 0.025);
    box-shadow: 0px 8px 20px rgba(202, 202, 202, 0.9);
}

.clickedCard {
  border-radius: 10px;
  border: 1px solid #D39A71;
  background: rgba(211, 154, 113, 0.4);
  box-shadow: 0px 8px 20px rgba(202, 202, 202, 0.9);
}

textarea {
    background :rgba(0, 0, 0, 0.00);
    color: #727272;
    vertical-align: middle;
    margin: 0px 20px 0px 70px;
    width: 90%;
    height: 100px;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Inconsolata';
    border: none;
  }

  .textAreaPrefix {
    position: relative;
    display: block;
    height: 200px;
  }
  
  .textAreaPrefix::before {
    content: 'input:';
    position: absolute;
    top: 10px;
    left: 28px;
    z-index: 99;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
  }

  .divider {
    height: 1px;
    width:100%;
    background-color: #CDCDCD;
  }

  .terminalLayout {
    margin: 30px 30px 30px 30px;
    height: 93vh;
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .libraryColumn {
    padding-left: 20px;
    width: 90%;
    height: 100%;
  }