.tagText {
    font-size: 14px;
    line-height: 24px;
}

.tagBackground {
    border-radius: 4px;
    padding: 0px 6px 0px 6px;
    vertical-align: 50%;
    height:fit-content;
}

.card {
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    background: rgba(0, 0, 0, 0.025);
    box-shadow: 0px 8px 20px rgba(202, 202, 202, 0.9);
}

.clickedCard {
  border-radius: 10px;
  border: 1px solid #D39A71;
  background: rgba(211, 154, 113, 0.4);
  box-shadow: 0px 8px 20px rgba(202, 202, 202, 0.9);
}

textarea {
    background :rgba(0, 0, 0, 0.00);
    color: #727272;
    vertical-align: middle;
    margin: 0px 20px 0px 70px;
    width: 90%;
    height: 100px;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Inconsolata';
    border: none;
  }

  .textAreaPrefix {
    position: relative;
    display: block;
    height: 200px;
    padding-top: 10px;
    padding-left: 4px;
  }
  
  .textAreaPrefix::before {
    content: 'input:';
    position: absolute;
    top: 19px;
    left: 28px;
    z-index: 99;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
  }

.header {
    display: flex;
}

.title {
    font-size: 30px;
    color: #4A4A4A;
    margin-right: 8px;
    font-weight: 400;
}

.instructions {
    line-height: 28px;
    font-size: 1.2em;
    color: #727170;
    margin: 10px 0px 0px 28px;
    font-weight: normal;
}
